
/*para establecer las fonts a usar*/
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/*Material design para el header*/
.mdl-layout__header-row span {
  margin-left: 15px;
  margin-top: 17px;
}

/*Material design para el grid*/
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
/*vista basica de los iconos de material design*/
.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}

/*Material design para el header*/
.mdl-layout__header-row {
  padding: 0;
  margin: 0 auto;
}

/*informacion referente del container llamado user-container*/
#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }

  #user-container {
    top: 72px;
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
}

/*Material design para los label*/
.mdl-textfield__label:after {
  background-color: #0288D1;
}

/*Material design para los label cunado estan seleccionados*/
.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
  color: #0288D1;
}

/*Material design para los botones*/
.mdl-button .material-icons {
  top: -1px;
  margin-right: 5px;
}

/***********************************************************/
/*Reglas para el tamaño de iconos*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*Reglas para usar iconos negros en fondos claros*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*reglas para usar iconos blamcos en fondos oscuros*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*Informacion para que el mensaje de saludo en la pagina principal este centrado*/
.mensajeP {
  position: absolute; /*para centrar el div*/
  /*nos posicionamos en el centro del navegador*/
  top:50%;
  left:50%;
  /*determinamos una anchura*/
  width:800px;
  /*indicamos que el margen izquierdo, es la mitad de la anchura*/
  margin-left:-400px;
  /*determinamos una altura*/
  height:300px;
  /*indicamos que el margen superior, es la mitad de la altura*/
  margin-top:-150px;
  padding:5px;
}

/*Informacion sobre los formularios*/
.formulario{
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*Informacion sobre los fieldsets de los formularios*/
.formulario fieldset{
    border: none;
}

/*Informacion sobre la leyenda de los formularios*/
.formulario legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

/*Informacion sobre los label de los formularios*/
.formulario label {
    display: block;
    margin-bottom: 8px;
}

/*Informacion sobre los elementos de los formularios*/
.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="datetime"],
.formulario input[type="email"],
.formulario input[type="number"],
.formulario input[type="search"],
.formulario input[type="time"],
.formulario input[type="url"],
.formulario textarea,
.formulario select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}

/*Informacion sobre el fondo de los elementos de los formularios cuando estan seleccionados*/
.formulario input[type="text"]:focus,
.formulario input[type="date"]:focus,
.formulario input[type="datetime"]:focus,
.formulario input[type="email"]:focus,
.formulario input[type="number"]:focus,
.formulario input[type="search"]:focus,
.formulario input[type="time"]:focus,
.formulario input[type="url"]:focus,
.formulario textarea:focus,
.formulario select:focus{
    background: #d2d9dd;
}

/*Apariencia del select de los formularios*/
.formulario select{
    -webkit-appearance: menulist-button;
    height:35px;
}

/*Apariencia del numero del formulario*/
.formulario .number {
    background: #008000;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 20px;
    margin-top:20px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 30px 30px 30px 0px;
}

/*tamaño de los formularios, que se colocan a la izquierda*/
.formulario .izquierda {
  width: 45%;
  float: left;
}

/*tamaño de los formularios, que se colocan a la derecha*/
.formulario .derecha {
  width:45%;
  float:right;
}

/*Apariencia de los botones de los formularios para enviar*/
.formulario input[type="submit"],
.formulario input[type="button"]
{
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;

}

/*Apariencia del boton para subir las fotos*/
.formulario input[type="file"]{
    position: relative;
    display: block;
    margin: 5px auto;
    font-size: 10px;
    text-align: center;
    font-style: normal;
    width: 100%;
    margin-top:15px;
}
